body {
	background-color: powderblue;
	font-family: "Lucida Console", Courier, monospace;
	font-size: 400%;
}

.title{
	text-align: center;
}

.actor{
	text-align: center;
	font-weight: bold;
	margin-top: 4%;
}

.spoken{
	margin-left: 15%;
	margin-right: 15%;
}

.scene{
	text-align: center;
	font-style: italic;
}

.text{
	text-align: left;
	margin-top: 4%;
}

.annotation{
	text-align: right;
	font-style: italic;
	margin-top: 4%;
}

.location{
	text-align: left;
	font-weight: bold;
}

p {
	margin: 0;
	padding: 0;
}